<h2>Socket</h2>
<script src="/socket.io/socket.io.js"></script>
{{!-- <script src="/src/public/utils/index.js" type="module"></script> --}}

<section>
    <form id="productForm">
        <input name="title" type="text" placeholder="Nombre del producto">
        <input name="description" type="text" placeholder="Descripción del producto">
        <input name="price" type="text" placeholder="$ Precio del producto">
        <input name="stock" type="number" placeholder="Stock">
        <input name="code" type="text" placeholder="Code del producto">
        <input name="category" type="text" placeholder="Categoría">
        <button>Enviar</button>
    </form>
</section>


<div id="productList">

</div>

<script>
    console.log('sockeeet')
    const socket = io();

    socket.on('products', data => {
        console.log(data);
        const productListDiv = document.querySelector('#productList')
        let html = ''

        data.forEach(e => {
            html += `
                <div class='cardProduct'>
                    <div class='cardInfo'>
                        <p>Nombre: ${e.title}</p>
                        <p>Descripción: ${e.description}</p>
                        <p>Precio: $ ${e.price}</p>
                        <p>Stock: ${e.stock}</p>
                    </div>
                </div>
            `
        })
        productListDiv.innerHTML = html
    });

    let form = document.querySelector('#productForm');
    form.addEventListener('submit', evt => {
        evt.preventDefault();
        const title = form.elements.title.value;
        const description = form.elements.description.value;
        const price = form.elements.price.value;
        const stock = form.elements.stock.value;
        const category = form.elements.category.value;
        const code = form.elements.code.value;

        socket.emit('addProduct', {
            title,
            description,
            price,
            stock,
            category,
            code
        })
        form.reset()
    })
    
</script>